<div class='how'>

    <div class='how_form'>
      <h1>Switch In Just Minutes</h1>
        <form method="GET" action="utilities/:id">
          <input type='text' placeholder="Zip Code" name="id">
          <button>Go</button>
        </form>
    </div>

    <div id='how_it_works_intro'>
      <h1>As a home or apartment owner or renter, you have choices when it comes to your electricity provider. Renewables are one of your options.</h1>
    </div>

    <div id='how_it_works_sequence' class='row'>
      <div class="col-lg-4">Test</div>
      <div class="col-lg-4">Test</div>
      <div class="col-lg-4">Test</div>
    </div>


</div>