<div class='how'>

    <div class='how_form'>
      <h1>Switch In Just Minutes</h1>
        <form method="GET" action="utilities/:id">
          <input type='text' placeholder="Zip Code" name="zip">
          <button>Go</button>
        </form>
    </div>
  <div class="how_it_works">
    <div id='how_it_works_intro'>
      <h1>How It Works</h1><hr>
      <h2>Most renters and home owners do not realize that <span id='highlight'>THEY HAVE A CHOICE</span> when it comes to their electricity provider</h2> 
      <h3>Greenir is dedicated to helping the environment by empowering our customers to make the switch to <span id='highlight'>AFFORDABLE RENEWABLE ELECTRICITY</span></h3>
    </div>

    <div id='how_it_works_sequence' class='row'>
      <div class="col-sm-4">
        <h1>Search</h1>
        <img id='searchcloud' src="/assets/searchcloud.svg">
      </div>
      <div class="col-sm-4">
        <h1>Compare</h1>
        <img id='searchcloud' src="/assets/windturbine.svg">
      </div>
      <div class="col-sm-4">
        <h1>Switch</h1>
        <img id='searchcloud' src="/assets/lightbulb.svg">
      </div>
    </div>

    <div id='link_to_faq'>
      <h1>Have More Questions? See Our <a href='/'>FAQ</a> Or <a href='/'>Contact Us</a> At Any Time</h1>
    </div>

  </div>
</div>