<div class='home'>


  <h1>Make The Switch To Renewable Energy For Your Home Or Apartment</h1>
  <div class='form'>
    <form method="GET" action="/utilities/:id">
      <input name='zip' type='text' placeholder="Zip Code">
      <button>Go</button>
    </form>
  </div>
  <h3>Whether You're A Renter Or Owner, You Can Get Affordable Renewable Electricity In Your Home Or Apartment In Just Minutes</h3>



</div>