<div class='show'>

  <div class='show_top'>
    <h1>Showing Results For</h1>
      <form method="GET" action="/utilities/:id">
          <input type='text' placeholder="<%= @zip %>" name="zip">
          <button>Change</button>
      </form>
  </div>

  <div class='show_results'>

<%= @zip  %>

  </div>


</div>