<div class='show'>

  <div class='show_top'>
    <h1>Showing Results For</h1>
      <form method="GET" action="/utilities/:id">
          <input type='text' placeholder="<%= @zip %>" name="zip">
          <button>Change Zip</button>
      </form>
  </div>

    <div id='results_dropdown'>
      Show Results By:
      <select class='order_results'>
        <option>Lowest Price</option>
        <option>Highest Rated</option>
      </select>
    </div></br>
  <div class='show_results'>

    <div class='results'>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="/assets/oasis_energy.png">
        </div>
        <div id='result_bio' class='col-sm-8'>
          Oasis Energy, an energy supplier focusing on the Illinois, Maryland, Pennsylvania, and New York markets, strives to help its customers make smart energy decisions and provide the best support and service to its residential and commercial electricity and natural gas customers. Oasis Energy's philosophy is that “our customers deserve peace of mind when it comes to their energy decisions. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
           <p>12.9¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>

      <div class='results'>
      <div class='row'>
        <div class='col-sm-2'>
          <img src="/assets/oasis_energy.png">
        </div>
        <div id='result_bio' class='col-sm-8'>
          Oasis Energy, an energy supplier focusing on the Illinois, Maryland, Pennsylvania, and New York markets, strives to help its customers make smart energy decisions and provide the best support and service to its residential and commercial electricity and natural gas customers. Oasis Energy's philosophy is that “our customers deserve peace of mind when it comes to their energy decisions. <a href="">Read More</a>
        </div>
        <div id='result_select' class='col-sm-2'>
          <p>12.9¢<span>/kWh<span></p>
          <button>Select</button>
        </div>
      </div>

    </div>



  </div>


</div>